*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: "Source Sans Pro", sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
    padding: 0;
    color: #151515;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* =================
Typography (mobile first)
================= */
.header-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 0.875rem; /* 14px */
    color: #0e0e0e;
}

ul {
    list-style-type: none;
}

nav a {
    font-weight: 600;
    font-size: 0.875rem; /* 12px */
    text-transform: uppercase;
    text-decoration: none;
    color: #090909;
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
}

.section-one * {
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
}

.section-one-date,
.post-date {
    font-size: 0.75rem; /* 12px */
    text-transform: uppercase;
}

.section-one-preview,
.post-preview,
.post-section *,
.about-me-preview {
    line-height: 1.25;
}

.sub-article-date {
    font-size: 0.875rem; /* 14px */
    text-transform: uppercase;
}

.sub-article-title {
    font-weight: 700;
    font-size: 1.5rem; /* 24px */
}

.sub-article-preview {
    line-height: 1.25;
    color: #505050;
}

.view-more-text,
footer {
    text-align: center;
}

.view-more-text {
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: underline;
    cursor: pointer;
}

footer {
    background: #202020;
    text-transform: capitalize;
}

.footer-text {
    font-weight: 700;
    font-size: 0.75rem; /* 12px */
    color: #ececec;
}

.footer-copyright {
    font-size: 0.75rem; /* 12px */
    color: #d7d7d7;
}

.post-topic {
    font-weight: 700;
}

.recent-posts-text {
    font-weight: 700;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1.75em;
}

.about-me-intro h1 {
    font-size: 2.2rem;
}

/* =================
Layout
================= */
.container {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}

.inner-container {
    width: 90%;
    max-width: 850px;
    margin: 0 auto;
}

header {
    background: #ffffff;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2em;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.header-logo {
    width: 23px;
    height: 23px;
}

.section-one {
    background-image: url(../images/article-image-hero.jpg);
    background-size: cover;
    background-position-y: 60%;
    height: 300px;
    margin-bottom: 2em;
    transition: all 0.2s ease-in-out;
}

.container-hero,
.hero-article {
    height: 100%;
}

.hero-article {
    position: relative;
}

.hero-article *,
.hero-article-post * {
    margin: 0;
}

.hero-article > a {
    position: absolute;
    bottom: 0;
}

.section-one-date,
.post-date,
.hero-article h1,
.hero-article-post h1 {
    margin-bottom: 0.5rem;
}

.section-one-preview {
    max-width: 600px;
    margin-bottom: 1.5em;
}

.post-preview {
    margin-bottom: 1.5em;
}

.section-two,
.recent-posts {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2em;
}

.sub-article {
    /* flex-basis: 300px;
    flex-grow: 1; */
    flex: 1 300px;
}

.sub-article > img {
    border-radius: 3px;
}

.sub-article-title {
    margin: 0;
}

.sub-article-preview {
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}

.view-more-text {
    transition: all 0.2s ease-in-out;
    margin-bottom: 3em;
    flex-basis: 100%;
}

.view-more-text:hover,
.view-more-text:focus {
    transform: scale(1.1);
}

footer {
    padding: 2.5em;
}

footer * {
    margin: 0;
}

.footer-text {
    margin-bottom: 3px;
}

.hidden {
    display: none;
}

.hero-article-post,
.about-me-intro {
    margin-top: 2em;
    margin-bottom: 2.5em;
}

header .header-content *,
header nav *,
.hero-article a *,
.hero-article-post *,
.hero-article-image,
.about-me-intro * {
    transition: all 0.2s ease-in-out;
}

.hero-article-image {
    height: 200px;
    margin-bottom: 2.5em;
}

.hero-image {
    border-radius: 3px;
}

.post-section {
    margin-bottom: 2em;
}

.post-topic {
    margin-bottom: 1.5em;
}

#profile-picture {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

/* =================
Media-query
================= */
@media (min-width: 1024px) {
    body {
        background-color: whitesmoke;
    }

    .header-text {
        font-size: 1.25rem; /* 20px */
    }

    nav a,
    .section-one-date,
    .post-date {
        font-size: 1rem; /* 16px */
    }

    .hero-article h1,
    .hero-article-post h1 {
        font-size: 2.5rem; /* 40px */
    }

    .post-topic {
        font-size: 1.25rem;
        margin: 0;
    }
    
    .recent-posts-text {
        font-size: 1.5rem;
    }

    .hero-article-post h1 {
        margin-top: 0.7em;
        margin-bottom: 0.7em;
    }

    .post-date {
        margin-top: 5.5em;
    }

    .section-one {
        height: 500px;
    }

    .section-one-preview {
        margin-bottom: 3.75em;
    }

    .hero-article-image {
        height: 500px;
    }

    .about-me-intro {
        display: flex;
        gap: 2em;
        align-items: center;
        margin-top: 5.5em;
    }

    .about-me-intro * {
        margin: 0;
    }

    .about-me-intro h1 {
        margin-bottom: 0.25em;
    }

    .about-me-contents {
        margin-top: 4em;
    }
}

@media (max-width: 1023px) {
    .mobile-hidden {
        display: none;
    }
}
