*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: "Source Sans Pro", sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

img {
    max-width: 100%;
    display: block;
}

/* =================
Typography (mobile first)
================= */
.header-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 0.875rem; /* 14px */
    color: #0e0e0e;
}

ul {
    list-style-type: none;
}

nav a {
    font-weight: 600;
    font-size: 0.875rem; /* 12px */
    text-transform: uppercase;
    text-decoration: none;
    color: #090909;
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
}

.section-one * {
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
}

.section-one-date {
    font-size: 0.75rem; /* 12px */
    text-transform: uppercase;
}

.section-one-preview {
    line-height: 1.25;
}

.sub-article-date {
    font-size: 0.875rem; /* 14px */
    text-transform: uppercase;
}

.sub-article-title {
    font-weight: 700;
    font-size: 1.5rem; /* 24px */
}

.sub-article-preview {
    line-height: 1.25;
    color: #505050;
}

.view-more-text,
footer {
    text-align: center;
}

.view-more-text {
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: underline;
    cursor: pointer;
}

footer {
    background: #202020;
    text-transform: capitalize;
}

.footer-text {
    font-weight: 700;
    font-size: 0.75rem; /* 12px */
    color: #ececec;
}

.footer-copyright {
    font-size: 0.75rem; /* 12px */
    color: #d7d7d7;
}

/* =================
Layout
================= */
.container {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2em;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.header-logo {
    height: 23px;
}

.section-one {
    background-image: url(../images/article-image-hero.jpg);
    background-size: cover;
    background-position-y: 60%;
    height: 300px;
    margin-bottom: 2em;
}

.container-hero,
.hero-article {
    height: 100%;
}

.hero-article {
    position: relative;
}

.hero-article * {
    margin: 0;
}

.hero-article > a {
    position: absolute;
    bottom: 0;
}

.section-one-date,
.hero-article h1 {
    margin-bottom: 0.5rem;
}

.section-one-preview {
    max-width: 600px;
    margin-bottom: 1.5em;
}

.section-two {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2em;
}

.sub-article {
    min-width: 300px;
    flex: 1;
}

.sub-article > img {
    border-radius: 5px;
}

.sub-article-title {
    margin: 0;
}

.sub-article-preview {
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}

.view-more-text {
    transition: all 0.2s ease-in-out;
    margin-bottom: 3em;
    flex-basis: 100%;
}

.view-more-text:hover,
.view-more-text:focus {
    transform: scale(1.1);
}

footer {
    padding: 2.5em;
}

footer * {
    margin: 0;
}

.footer-text {
    margin-bottom: 3px;
}

/* =================
Media-query
================= */
@media (min-width: 1024px) {
    .header-text {
        font-size: 1.25rem; /* 20px */
    }

    nav a,
    .section-one-date {
        font-size: 1rem; /* 16px */
    }

    .hero-article h1 {
        font-size: 2.5rem; /* 40px */
    }
}

@media (max-width: 1023px) {
    .mobile-hidden {
        display: none;
    }
}
