*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: "Source Sans Pro", sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

/* =================
Typography (mobile first)
================= */
.header-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 0.875rem; /* 14px */
    color: #0e0e0e;
}

.nav-item {
    font-weight: 600;
    font-size: 0.75rem; /* 12px */
    text-transform: uppercase;
    color: #090909;
}

.section-one * {
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
}

.section-one-date {
    font-size: 0.75rem; /* 12px */
    text-transform: uppercase;
}

.section-one-preview {
    line-height: 1.25;
}

.sub-article-date {
    font-size: 0.875rem; /* 14px */
    text-transform: uppercase;
}

.sub-article-title {
    font-weight: 700;
    font-size: 1.5rem; /* 24px */
}

.sub-article-preview {
    line-height: 1.25;
    color: #505050;
}

.view-more-text,
footer {
    text-align: center;
}

.view-more-text {
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: underline;
    cursor: pointer;
}

footer {
    background: #202020;
    text-transform: capitalize;
}

.footer-text {
    font-weight: 700;
    font-size: 0.75rem; /* 12px */
    color: #ececec;
}

.footer-copyright {
    font-size: 0.75rem; /* 12px */
    color: #d7d7d7;
}

/* =================
Layout
================= */
.container {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}

.section-one {
    background-image: url(../images/article-image-hero.jpg);
    background-size: cover;
    background-position-y: 60%;
    height: 300px;
    margin-bottom: 2em;
}

.container-hero,
.hero-article {
    height: 100%;
}

.hero-article {
    position: relative;
}

.hero-article * {
    margin: 0;
}

.hero-article > a {
    position: absolute;
    bottom: 0;
}

.section-one-date,
.hero-article h1 {
    margin-bottom: 0.5rem;
}

.section-one-preview {
    max-width: 600px;
    margin-bottom: 1.5em;
}

/* .section-one-preview {
    max-width: 600px;
} */

/* =================
Media-query
================= */
