* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #111827;
}

/* ===============
    Typography
================== */

#mode-select,
form > button,
.colors-hex > p {
    color: inherit;
    font-size: 1rem;
    font-weight: 400;
}

.colors-hex > p {
    font-size: 0.75rem;
    font-weight: 500;
}

/* ===============
Layout
================== */

nav {
    background-color: #fff;
    padding: 1.5625em 1em;
    position: fixed;
    width: 100%;
    top: 0;
}

.container {
    max-width: 550px;
    margin: 0 auto;
}

#mode-select,
form > button {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.color-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

#color-input {
    width: 15%;
    height: 40px;
    border: 0.5px solid #d1d5db;
    cursor: pointer;
}

#color-input::-webkit-color-swatch-wrapper {
    padding: 0;
}

#mode-select {
    width: 80%;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    padding: 0.5em 1em;
}

form > button {
    background-color: #fff;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    padding: 0.75em 1em;
    cursor: pointer;
}

.form-flex {
    display: flex;
    flex-direction: column;
}

.background-colors,
.colors-hex {
    display: flex;
}

.background-colors > * {
    width: 20%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}

.colors-hex > * {
    padding: 0.75em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    text-align: center;
}

/* ===============
Media Query
================== */
@media (min-width: 550px) {
    .form-flex {
        flex-direction: row;
        justify-content: space-between;
    }

    .color-inputs {
        margin-bottom: 0;
        width: 100%;
        margin-right: 1em;
    }

    #color-input {
        width: 15%;
    }

    #mode-select {
        width: 80%;
    }

    form > button {
        padding: 0 0;
        width: 50%;
    }
}

/* ===============
    Effects
================== */

form > button:hover,
form > button:active {
    background-color: #dbffed;
    box-shadow: 0px 5px 10px #ccf1e6;
}

form > button:active {
    transform: translateY(2px);
}

.background-colors > *:hover,
.colors-hex > p:hover {
    cursor: pointer;
}

.colors-hex > p:hover {
    text-decoration: underline;
}
