body {
    margin: 0;
    padding: 1.5em;
    font-family: "Inter", sans-serif;
    background: #23252c;
}

/* 
    Typography
 */
.name {
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
}

.job-title {
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    color: #f3bf99;
}

.website-title {
    font-size: 0.65rem;
    text-align: center;
    color: #f5f5f5;
    letter-spacing: 1px;
}

.contact-buttons a {
    font-weight: 500;
    font-size: 0.875rem;
    text-decoration: none;
}

.email-btn-text {
    color: #374151;
}

.linkedin-btn-text {
    color: #ffffff;
}

.about-header,
.interests-header {
    color: #f5f5f5;
}

.about-text,
.interests-text {
    color: #dcdcdc;
    font-size: 0.75rem;
}

.interests-text-hidden {
    color: #baf2ef;
    font-weight: bold;
}

.interests-text-highlight {
    font-style: italic;
    color: #f3bf99;
}

/* 
    Layout
 */

.container,
.app {
    max-width: 320px;
    margin: 0 auto;
}

.app {
    background: #1a1b21;
    border-radius: 10px;
}

.container {
    padding: 0 2em;
}

.smaller-container {
    max-width: 200px;
    margin: 0 auto;
}

.profile_picture {
    display: block;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 1.325em;
}

.name {
    margin-bottom: 6px;
}

.job-title {
    margin-top: 0;
    margin-bottom: 9px;
}

.website-title {
    margin-bottom: 2em;
}

.contact-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.2em;
}

.email-btn,
.linkedin-btn {
    display: flex;
    width: 47%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.email-btn {
    background: #ffffff;
}

.email-btn-icon {
    margin-right: 0.625em;
}

.linkedin-btn {
    background: #5093e2;
}

.linkedin-btn-icon {
    margin-right: 0.625em;
}

.about-header,
.interests-header,
.about-text,
.interests-text {
    margin: 0;
}

.about-header,
.interests-header {
    margin-bottom: 0.5em;
}

.about-text {
    margin-bottom: 2.5em;
}

.interests-text {
    margin-bottom: 3.5em;
}

.footer {
    background: #161619;
    border-radius: 0px 0px 10px 10px;
    padding: 1.25em 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.footer-content > * {
    width: 25px;
    height: 25px;
}
