* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Inter", sans-serif;
    /* font-family: "Karla", sans-serif; */
    background-color: #f5f7fb;
    background: url(./assets/blob-top.svg) top right no-repeat fixed,
        url(./assets/blob-bottom.svg) bottom left no-repeat fixed;
    background-size: max(300px, 25%);
}

/* TYPOGRAPHY */
.landing-title,
.landing-description,
.loading-text {
    text-align: center;
    color: #293264;
}

.landing-title,
.loading-text {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.start-quiz-btn,
.check-answers-btn,
.play-again-btn {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #f5f7fb;
    text-align: center;
}

.question-category {
    color: gray;
    font-size: 0.8rem;
}

.question-question {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    color: #293264;
}

.question-answers > button {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
    text-align: center;
    color: #293264;
    overflow-wrap: break-word;
}

/* LAYOUT */
.landing-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(-5%);
    }
    100% {
        opacity: 1;
    }
}

.landing-title {
    margin: 0;
}

.landing-description {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.start-quiz-btn,
.check-answers-btn,
.play-again-btn {
    background: #4d5b9e;
    border: none;
    border-radius: 15px;
    padding: 1em 4em;
    cursor: pointer;
    align-self: center;
}

.start-quiz-btn:hover,
.start-quiz-btn:focus,
.check-answers-btn:hover,
.check-answers-btn:focus,
.play-again-btn:hover,
.play-again-btn:focus {
    background: #1e2d7a;
}

.questions-container {
    width: 95%;
    max-width: 550px;
    margin: 0 auto;
    padding: 2.5em 0;
    display: flex;
    flex-direction: column;
}

.question {
    border-bottom: 1px solid #dbdef0;
    margin-bottom: 1em;
}

.question-category {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.question-question {
    margin-top: 0;
}

.question-answers {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}

.question-answers > button {
    background: transparent;
    border: 1px solid #4d5b9e;
    border-radius: 8px;
    min-width: 65px;
    padding: 0.5em 1em;
}

.question-answers > button:hover,
.question-answers > button:focus {
    cursor: pointer;
    border: none;
    background: #d6dbf5;
}
