* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: white;
    background-color: #121212;
}

body {
    height: 100vh;
}

img {
    width: 100%;
}

/* ===============
    Typography
================== */

/* ===============
    Layout
================== */
.form-contents > img {
    width: 1%;
}

.empty-movies > img {
    width: 5%;
}

.movies-list img {
    width: 5%;
}

/* ===============
    Media Query
================== */

/* ===============
    Effects
================== */
