* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: white;
    background-color: #121212;
}

body {
    height: 100vh;
}

img {
    width: 100%;
}

/* ===============
    Typography
================== */
.header-text > h1 {
    font-weight: 800;
    font-size: 2.6875rem;
}

.header-text > a {
    color: white;
    font-weight: 700;
    font-size: 0.875rem;
    text-decoration: none;
}

.header-text > a:hover {
    text-decoration: underline;
}

#search-input {
    color: #a5a5a5;
    font-weight: 500;
    font-size: 0.875rem;
}

#search-btn {
    color: white;
    font-weight: 500;
    font-size: 0.875rem;
}

.empty-movies-text {
    color: #2e2e2f;
    font-weight: 700;
    font-size: 1.125rem;
}

.movie-title {
    font-weight: 500;
    font-size: 1.125rem;
}

.movie-rating,
.movie-duration,
.movie-tags,
.movie-add-to-watchlist {
    font-weight: 400;
    font-size: 0.75rem;
}

.movie-synopsis {
    color: #a5a5a5;
    font-weight: 400;
    font-size: 0.875rem;
}

/* ===============
    Layout
================== */
#container {
    max-width: 550px;
    margin: 0 auto;
    height: inherit;
    position: relative;
}

/* ===============
    Header content
================== */
#header {
    background-image: url(images/header-cover.jpg);
    background-color: #404040;
    background-size: cover;
    background-position-y: 15%;
    background-blend-mode: multiply;
    display: flex;
    height: 25%;
}

#main {
    height: 75%;
}

.header-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text > h1 {
    cursor: default;
}

/* ===============
    Search Bar
================== */
#search-bar * {
    margin: 0 auto;
}

.form-contents {
    display: flex;
    background-color: #2e2e2f;
    border-radius: 6px;
    height: 2.5rem;
}

#search-icon {
    display: flex;
}

#search-icon > img {
    filter: brightness(0.5);
    width: 45%;
    margin-left: 1em;
    margin-right: 0.5em;
}

#search-input {
    background-color: transparent;
    border: none;
    width: 100%;
}

#search-btn {
    background: #4b4b4b;
    border: none;
    margin-left: auto;
    border-radius: 0 6px 6px 0;
    padding: 0 2em;
    cursor: pointer;
}

/* ===============
    Empty Movies
================== */

.empty-movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#movie-icon {
    width: 20%;
    margin-bottom: 0.5em;
}

.empty-movies-text {
    margin: 0;
    cursor: default;
}

/* ===============
    Movie Card
================== */
.movies-list {
    padding-top: 3em;
}

.movie-card {
    display: flex;
    align-items: center;
    padding: 1.5em 0;
    border-bottom: 1.5px solid #2c2c2c;
}

.movie-img {
    width: 90%;
    border-radius: 3px;
    margin-right: 1.5em;
}

.movie-info * {
    margin: 0;
}

.movie-info-header,
.movie-properties {
    margin-bottom: 1em;
}

.movie-title,
.plus-icon {
    margin-right: 0.5em;
}

.movie-duration,
.movie-tags {
    margin-right: 1.5em;
}

.movie-info-header,
.movie-properties,
.movie-add-to-watchlist {
    display: flex;
    align-items: center;
}

.movie-add-to-watchlist > img {
    width: 15%;
}

/* ===============
    Media Query
================== */

/* ===============
    Effects
================== */
#search-bar {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
}

#search-btn:hover,
#search-btn:active {
    background: #757575;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

/* ===============
    Utility
================== */
.inner-content {
    width: 90%;
    margin: 0 auto;
}

.hidden {
    display: none;
}
