* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: white;
    background-color: #121212;
}

body {
    height: 100vh;
}

img {
    width: 100%;
}

/* ===============
    Typography
================== */
.header-text > h1 {
    font-weight: 800;
    font-size: 2.6875rem;
}

.header-text > a {
    color: white;
    font-weight: 700;
    font-size: 0.875rem;
    text-decoration: none;
}

.header-text > a:hover {
    text-decoration: underline;
}

#search-input {
    color: #a5a5a5;
    font-weight: 500;
    font-size: 0.875rem;
}

#search-btn {
    color: white;
    font-weight: 500;
    font-size: 0.875rem;
}

.empty-movies-text {
    color: #2e2e2f;
    font-weight: 700;
    font-size: 1.125rem;
}

.movie-title {
    font-weight: 500;
    font-size: 1.125rem;
}

.movie-rating,
.movie-duration,
.movie-tags,
.movie-add-to-watchlist {
    font-weight: 400;
    font-size: 0.75rem;
}

.movie-synopsis {
    color: #a5a5a5;
    font-weight: 400;
    font-size: 0.875rem;
}

/* ===============
    Layout
================== */
#container {
    max-width: 550px;
    margin: 0 auto;
    border: 2px solid red;
}

#header {
    background-image: url(images/header-cover.jpg);
    background-color: #404040;
    background-size: cover;
    background-position-y: 15%;
    background-blend-mode: multiply;
}

.inner-content {
    width: 90%;
    margin: 0 auto;
}

.header-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 1rem;
}

.form-contents > img {
    width: 1%;
}

.empty-movies > img {
    width: 5%;
}

.movie-add-to-watchlist > img {
    width: 5%;
}

.form-contents {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.empty-movies {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.movie-card {
    display: flex;
}

.movie-info-header,
.movie-info-stats {
    display: flex;
    align-items: center;
}

/* ===============
    Media Query
================== */

/* ===============
    Effects
================== */
