body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #1f2937;
    color: white;
    /* max-width: 800px; */
}

#container {
    margin: 115px auto;
    padding: 0 20px;
    max-width: 640px;
}

h1 {
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
}

.highlight {
    color: #4adf86;
}

.sup-text {
    color: #d5d4d8;
    font-size: 20px;
    line-height: 28px;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.range-selector {
    display: flex;
    margin-top: 20px;
}

.checkbox-selector {
    display: flex;
    align-items: center;
}

#symbols-toggle {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#numbers-toggle {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.p-size {
    color: #d5d4d8;
    margin-right: 50px;
    font-size: 18px;
}

#gen-btn {
    background: #10b981;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px #047857;
    margin-top: 50px;
}

#gen-btn:active {
    transform: translateY(3px);
    box-shadow: 0 2px #064e3b;
}

hr {
    border: 1px solid #2f3e53;
    margin-top: 35px;
}

#passwords {
    display: flex;
    justify-content: space-between;
}

#password-size {
    width: 300px;
}

.password-p {
    background: #273549;
    border-radius: 6px;
    margin-top: 35px;
    width: 240px;
    word-break: break-all;
    height: 120px;
    text-align: center;
    color: #55f991;
    font-weight: 500;
    line-height: 40px;
    padding: 5px 15px;
}

#password1 {
    margin-right: 25px;
}
